  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* VARIABLE */
  :root {
    --BG-COLOR: whitesmoke;
    --SQUARE-COLOR: linear-gradient(#42275a, #734b6d);
    --FONT-COLOR: rgb(48, 0, 25);
  }

  html{
    min-height: 100%;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #42275a, #734b6d);
  }

body {
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


.square {
    position: relative;
    min-width: 300px;
    min-height: 450px;
    margin-top: 9rem;
    background-color: whitesmoke;
    border-radius: 60px;
    box-shadow: 10px 10px 10px #333;
}

.square::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: purple;
    background-image: linear-gradient(to top, rgb(45, 0, 45), rgb(187, 60, 185));
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 10px;

}

img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--FONT-COLOR);

}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: var(--FONT-COLOR);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

.title {
    color: var(--FONT-COLOR);
    font-size: 1.2rem;
    text-align: center;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}

.icons {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    width: 70px;
    height: 70px;
    background-color: var(--FONT-COLOR);
    border-radius: 50%;
}

a:visited,
a:hover,
a:focus,
a {
    color: #FFF;
}